
section div{
    background-color: magenta;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    margin-bottom: 19px;
    transition: background-color 2s 1s,border-radius 2s 1s, margin-left 3s, box-shadow 1s 0.5s;
}

section:hover div{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color:cyan;
    border-radius: 50%;
    margin-left: 300px;
    
}

div:nth-of-type(1){
    transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}
div:nth-of-type(2){
    transition-timing-function: ease-out;

}
div:nth-of-type(3){
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
div:nth-of-type(4){
    transition-timing-function: ease-in;
}