.container{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;

    background-color: antiquewhite;
}

img{
    width: 100%;
    height: 50%;
}

.title{

    padding-left: 1.5vh;
    padding: 10px;
    background-color: aqua;
    margin-top: 0px;
    box-shadow: ;
}